.match-page {
  background: #f3f5f9;
}

.matches {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  margin:auto;
}

.match {
  flex-shrink: 1;
  display: block;
  width: 280px;
  height: 445px;
  background: white;
  border-radius: 6px;
  margin: 0px 10px 40px 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.match img {
  /*width: 100%;*/
  min-height: 280px;
  max-height: 280px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.match p {
  color: #5e6573;
  text-align: center;
}

.match p:first-child {
  font-size: 18px;
}

.match p:last-child {
  font-size: 15px;
}

.matches-user-info {
  font-size: 15px;
  text-shadow: center;
  color: #949aa6;
  text-align: center;
  margin-bottom: 23px;
}

.matches-username {
  display: block;
  padding-bottom: 5px;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  color: #5e6573;
  max-width: 230px;
  word-wrap: break-word;
}

.matches-username:hover {
  color: #474d59;
}
