.nav {
  background: #104da1;
  border-bottom: 1px solid rgba(157,186,242,0.25);
  color: #d6e1f9;
  height: 60px;
  display: flex;
  justify-content: space-between;
  &.boobies {
    justify-content: flex-end;
  }
}

.nav h2 {
  padding-top: 21px;
  margin-left: 125px;
  cursor: pointer;
}

#chat-and-thumb {
  margin-left:auto;
  display: flex;
}
//
// #chat-icon {
//   margin-bottom: 10px;
// }

.fa-comment-o {

}

.fa-comment-o:before {
  margin-right: 22px;
  color: #9dbaf2;
}

.nav-thumb {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  margin-right: -22px;
  margin-top: -16px;
  cursor: pointer;
}

.nav button {
  margin-right: 50px;
  margin-top: 4px;
}

.nav div {
  float: right;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  border-radius: 2px;
  margin: 10px 40px 8px 0px;
  padding: 10px 0px;
  cursor: pointer;
}

.nav a:hover {
  background-color: #103da1;
}

.nav span {
  float:right;
  margin-top: 25px;
  color: white;
}

.nav a:last-of-type {
  margin: 20px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #4879c1;
  color: #fff;
  border-radius: 2px;
  margin: 10px 40px 8px 23px;
  padding: 10px 15px;
  cursor: pointer;
}
