.questions-header {
  font-size: 25px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #474d59;
  margin: 30px 30px;
}

.question {
  padding: 30px;
  margin: 15px 0px 15px 30px;
  width: 475px;
  position: relative;
  box-shadow: 0px 1px 7px #888888;
  border-radius: 3px;
}

.question p {
  color: #5e6573;
  display: inline;
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.question li {
  padding-left: 3px;
  line-height: 32px;
  color: #949aa6;
  display: inline-block;
}

.question div:first-child {
  margin-top: 14px;
}

.question label {
  width: 400px;
  margin: 10px 0px 0px 25px;
  position: relative;
  color: #5e6573;
}

.question label:first-child {
  margin-top: 15px;
}

.question input {
  position: absolute;
  left: -25px;
}

// .hide-radios {
//   max-height: 0;
//   overflow: hidden;
//   -webkit-transition: max-height 0.8s;
//   -moz-transition: max-height 0.8s;
//   transition: max-height 0.8s;
// }
//
// .show-radios {
//   max-height: 200px;
//   -webkit-transition: max-height 0.8s;
//   -moz-transition: max-height 0.8s;
//   transition: max-height 0.8s;
// }

// .delay-display {
//   @keyframes fade {
//     0%   {opacity: 0;}
//     100%  {opacity: 1;}
//   }
//
//
//     animation: fade 2.0s;
//
// }

.dot {
  text-align: center;
  color: #949aa6;
  font-size: 16px;
}
.checkmark {
  text-align: center;
  color: #00d280;
  font-size: 16px;
}

.answer-button {
  background-color: #4c7bd9;
  display: block;
  color: #fff;
  top: 24px;
  right: 20px;
  margin-top: 25px;
  width: 120px;
  height: 42px;
  text-align: center;
  border-radius: 3px;
}

.answer-button:hover {
  background-color: #5c7bd9
}

.cancel-button {

  top: 24px;
  right: 20px;
  margin-top: 9px;
  width: 120px;
  height: 42px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid black;
}

.re-answer {
  color: #4c7bd9;
  float: right;
  cursor: pointer;
}

#selected-answer {
  color: #00d280;
}
