.signup {
  padding-top: 200px;
  background: #104da1;
  height: 880px;
  text-align: center;
  color: #fff;

  @keyframes fade {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
  }

  * {
    animation: fade 0.2s ease-in;
  }

}

.signup-dropdown {
  background: #3260c7;
  padding: 14px 36px 14px 14px;
  width: 180px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: left;
  border-radius: 3px;

}

.signup-dropdown ul {
  cursor: pointer;
  position: absolute;
  top: 46px;
  left: 0;
  height: 58px
}

.hidden {
  display: none;
}

.signup li {
  background: #3260c7;
  padding: 14px 36px 14px 14px;
  width: 180px;
  text-align: left;
}



.signup h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 43px;
}

.i-am-a {
  padding-right: 14px;
  font-size: 22px;
}


.signup button {
  box-shadow: 0 2px 1px #07408d;
  background-color: #29d58f;
  border-radius: 3px;
  width: 190px;
  height: 58px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.signup input {
  text-align: left;
  display: block;
  padding: 9px;
  padding-right: 16px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #ccd0d9;
  color: #5e6573;
  width: 320px;
  background: white;
  border-radius: 2px;
  font-size: 15px;
  line-height: 22px;
}

label {
  text-align: left;
  width: 30px;
  display: block;
  margin: auto;
  padding: 0px 315px 8px 0px;
}

.arrow {
  font-size: 15px;
  margin-left: 105px;
}

.signup-email input {
  margin-bottom: 10px;
}

.signup-email input:last-child {
  margin-bottom: 42px;
}

.signup p {
  color: red;
  margin: 0px 100px 20px 0px;
  font-size: 15px;

}
